In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mysql-connector-python in c:\users\gratitude\appdata\roaming\python\python311\site-packages (8.3.0)

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [2]:
pip search mysql-connector

Note: you may need to restart the kernel to use updated packages.

ERROR: XMLRPC request failed [code: -32500]
RuntimeError: PyPI no longer supports 'pip search' (or XML-RPC search). Please use https://pypi.org/search (via a browser) instead. See https://warehouse.pypa.io/api-reference/xml-rpc.html#deprecated-methods for more information.

In [5]:
import mysql.connector

In [7]:
import mysql.connector
mydb= mysql.connector.connect(host = "localhost" , password = "1234" , user = "root")

if mydb.is_connected():
    print("Connection Established")

Connection Established

In [8]:
mycursor = mydb.cursor()

In [9]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('asms',)
('classical_model',)
('employees',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('vehicle',)

In [12]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')

if conn.is_connected():
    print("Connection Established")

Connection Established

In [13]:
mycursor=mydb.cursor()

In [14]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('asms',)
('classical_model',)
('db2',)
('employees',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('vehicle',)

In [15]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database SODS")

In [16]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
t="CREATE TABLE Book(bookid int(4),title varchar(20),price float(5,2))"
mycursor.execute(t)

In [17]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('book',)

In [18]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'Python2',350)
mycursor.execute(s,r1)
mydb.commit()

In [19]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)

In [20]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'SQL',550)
mycursor.execute(s,r1)
mydb.commit()

In [21]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)

In [22]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'ML',450)
mycursor.execute(s,r1)
mydb.commit()

In [23]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s= "UPDATE book SET price=price+100 WHERE price=350"
mycursor.execute(s)
mydb.commit()
print(mycursor.rowcount,"Records affected")

1 Records affected

In [24]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 450.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [25]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="DELETE FROM book WHERE price=450"
mycursor.execute(s)
mydb.commit()

In [26]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)